
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.result-header {
    font-size: 38px;
    color: black;
    background: darkgrey;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}
.result-header2 {
    color: rgb(48, 43, 43);
    font-weight: normal;
    font-size: 15px;
    background: grey;
    margin-top: 0%;
    padding: 12px;
}


.result-paragraph {
    padding: 12px;
    color: rgb(48, 43, 43);
    font-size: 15px;
    font-weight: normal;
    background: grey;
    width: 80%;
    margin-bottom: 5%;
}
.result-paragraph2 {
    padding: 12px;
    color: rgb(48, 43, 43);
    font-size: 15px;
    font-weight: normal;
    margin-top: -5%;
    background: lightgray;
    width: 80%;
    margin-bottom: 5%;
}
.result-paragraph3 {
    padding: 12px;
    color: rgb(48, 43, 43);
    font-size: 15px;
    margin-top: -5%;
    margin-left: -1%;
    font-weight: normal;
    background: grey;
    width: 80%;
    margin-bottom: 5%;
}
strong {
    float: right;
}
.print{
    
    color: blanchedalmond;
    text-decoration: none;
    
}

@media screen and (max-width: 1000px) {
    .result {
        /*new*/
        width: 80%;
        padding-left: 10%;
    }
    .result-header2 {
        /*new*/
        font-size: 10px;
        width: 80%;
    }
    .result-paragraph{
        font-size: 9px;
    }
    .result-paragraph2 {
        font-size: 8px;
        margin-left: 1%;
    }
    .result-paragraph3 {
        font-size: 9px;
    }
    .oil-selected {
        margin-left: -5%;
    }
}